{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
<section id="article-list">
<h2>All posts</h2>
<ol>

{% for article in articles %}

    <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></li>

{% endfor %}
</ol>
</section><!-- #article-list -->
{% endblock content %}
